@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #e0e0e0; */
  background-color: #111827;
}

.destopMenu {
  display: contents;
}
@media screen and (max-width: 768px) {
  .desktopMenu {
    display: none;
  }
}
.ListItem {
  text-align: center;
  margin: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border-radius: 0.5rem;
}
.ListItem:hover {
  transition: 0.6s;
}
.navMenu {
  position: absolute;
  align-items: center;
  top: 4.6rem;
  right: 0.5rem;
  z-index: 20;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 12rem;
  border-radius: 1rem;
}
@media screen and (max-width: 376px) {
  .header-content {
    margin-top: -1rem;
    margin-right: 0.5rem;
    
  }
  .header-content h2 {
    font-size: large;
  
  }
  .header-content p {
    font-size: xx-small;
    /* margin-top: -0.5rem; */
  }
  .avail-btn button {
    font-size: x-small;
    /* margin-top: -1rem; */
    padding: 4px;
  }
}



 .header-img {
  object-fit: cover;
  width: 100%;
}

/* .header-content {
  margin-top: -35rem;
  margin-right: 2rem;
} */

@media screen and (max-width : 800px) {
  .header-content{
    margin-top: -3rem;
    margin-right: 1rem;
  }
  .header-content h2{
    
  }
  .header-content p {
    
    /* padding-bottom: 0.5rem; */
  }
}






 
@media screen and (max-width: 1024px) {
  .header-content {
    margin-top: -30rem;
    margin-right: 2rem;
  }
  .header-content h2 {
    font-size: 40px;
   
  }
  .header-content p {
    font-size: larger;
    
  }
  .avail-btn button {
   padding: 4px;
    margin-top: 2rem;
  }
}

@media (max-width:1300) {
  .header-content{
    margin-top: -20px;
    padding-top: 10px;
  }
  .header-content h2{
    font-size: 20px;
  }.header-content p{
    font-size: medium;
  }
}
@media screen and (max-width: 1980px) {

  .header-content{
    margin-top: -30rem;
    margin-right: 2rem;
  }
  .header-content h2{
    
    font-size: 5rem;
  }
  .header-content p {
    font-size: 2rem;
  }
  .avail-btn button{
    margin-top: 1rem;
    padding: 10px;
  }
}




.deletedPrice{
  text-decoration: line-through;
  text-decoration-color: #D1D5DB;
}




@media screen and (max-width:1024px){
  .contactForm{
  padding-top: 0;
  margin-top: 3.8rem;
  padding: 0px 20px;
  }
 .loginForm{
  padding-top: 0;
  margin-top: 0.5rem;
  padding: 0px 20px;
 } 
 .signupForm{
  padding-top: 0;
  margin-top: 2.9rem;
  padding: 0px 20px;
 }
}

@media screen and (max-width:720px) {
  .invoice{
    padding: 0px 20px;
  }
}